

.rowWrapper {
    width: 70%;
    margin: auto 15%;
}
.wrapper {
    padding-top: 15vh;
    background-color: #D3D3D3F9;
    padding-bottom: 50px;
}
.wrapper1 {
    margin-right: 20px;
    
}
.mainImg {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 1px 3px 5px gray;
    border-radius: 20px;
}
.imgOptions {
    display: flex;
    column-gap: 2px;
    row-gap: 2px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.otherImgs {
    max-width: 36px;
    border-radius: 5px;
    border: 0.5px solid gray;
    
}
.selectedImg {
    border: 3px solid gray;
}
.stars {
    font-size: 20px;
}
.title {
    margin: 0;
    letter-spacing: var(--unnamed-character-spacing-0-06);
    color: var(--unnamed-color-000000);
    text-align: left;
    font-family: Candara;
    letter-spacing: 0.06px;
    color: #000000F9;
    text-transform: uppercase;
    opacity: 1;
}
.price {
    text-align: left;
    font-size: 24px;
    font-family: Candara;
    letter-spacing: 0.05px;
    color: #E01D1D;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 700;
}
.extraText {
    text-align: left;
    letter-spacing: 0.02px;
    color: #5E5E5EF9;
    opacity: 1;
}

.iconWrapper {
    padding: 6px;
}
.amt {
    font-size: 18px;
    text-align: center;
    width: 70%;
}
.amtWrapper1 {
    position: relative;
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    width: 20%;
    margin-right: 20px;
}
.amtIcon1 {
    position: absolute;
    top: 4px;
    right: 6px;
}
.amtIcon2 {
    position: absolute;
    bottom: 4px;
    right: 6px;
}
.cartBtn {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: black;
    font-weight: 700;
    outline: none;
    border: 0;
    margin-bottom: 12px;
}
.sizesWrapper {
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
}
.sizes {
    display: flex;
    align-items: center;
}
.sizeItems {
    padding: 8px 16px;
    border-right: 1px solid gray;
    font-weight: 600;
}
.sizeItems:hover {
    cursor: pointer;
}
.sizeItems:first-of-type {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.sizeItems:last-of-type {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.sizeItems:last-child {
    /* border: 0; */
}
.selectedSize {
    background-color: gray;
}

.descWrapper {
    margin: 30px 5%;
    background-color: white;
    box-shadow: 0 1px 6px 0 grey;
    padding: 20px;
    border-radius: 5px; 
}
.options {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}
.optDesc {
    margin-top: 30px;
}
.optionItem {
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
}
.selectedOpt {
    /* color: #E01D1D; */
    border-bottom: 2px solid #E01D1D;
} 
.topSellingWrapper {
    padding-bottom: 30px;
}
.txtPart {
    /* width: 80%; */
    margin: auto;
    padding: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header {
    display: inline-block;
    text-align: left;
    font: normal normal normal 42px/73px Segoe UI;
    letter-spacing: 0.08px;
    color: #000000F9;
    opacity: 1;
    margin-top: 40px;

}
.seeAll {
    display: inline-block;
    text-align: left;
    font: normal normal bold 28px/37px Segoe UI;
    letter-spacing: 0px;
    color: #E01D1D;
    opacity: 1;
    text-decoration: none;
    
}